.myim
{
  height:25%;
  width:25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.r3
{
  background-color: #E5D9B6;
  text-align: center;
}
#myTable
{
    background-color: #A4BE7B;
}
.r5
{
  text-align: center;
font-size: 40px;

}
hr
{
  margin-top: auto;
  width: 30%;
  border-top: 5px dotted;
}
